.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }
.center-row {
	margin: auto
}

.single-spaced, .single-spaced * {
    line-height: 1;
}
.is-padingless{
	padding: 0;
}


@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}
@media (min-width: 1024px) {
	.mobile {
		display: none;
	}
}

.margin-right {
	margin-right: 100px;
}

.navbar-item {
	margin: 0.4rem;
	color: rgb(230, 222, 222);
}
.navbar-menu {
	background: 0 0;
}
.hg-burger{
	height: 2.2px;
}
.title { 
	font-family: 'Lobster', cursive;
	margin-left: 20px;
}
.main-img {
	border-style: dashed;
	color: white;
	border-radius: 300px;
}
.main-img-localizacao {
	height: 40vh;
}
.map-api {
	border-style: solid;
	color: black;
}
.whatsapp-link {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 1px 1px 2px #888;
	z-index: 1000;
}

.fa-whatsapp {
	margin-top: 16px;
}

.cardapio { 
	width: 40%;
	margin-top: 1%;
	margin-left: 0.5%;
	border: 3px solid black;
}

.cardapio-mobile { 
	width: 90%;
	margin-top: 1%;
	height: 100%;
	margin-left: 0.5%;
	border: 3px solid black;
}

.menu-itens {
	display: flex;
	flex-wrap: wrap;
}